body
{
	text-align: justify;
	font-size: 13pt;
	line-height: 25pt;
	font-family: Cursive, sans-serif;
	color: black;
}

h1,h2,h3
{
	text-align : justify;
	font-size: 36 pt;
	line-height: 20pt;
	font-family: Serif;
	color: red;
}
#Top
{
	color: aqua;
}

ol
{
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sources {
	background-image: url("images/free-music-background-vector.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 1600px;
}
#red {
	colour: blue 
}

