body
{
	text-align: justify;
	font-size: 13pt;
	line-height: 25pt;
	font-family: Garamond, sans-serif;
	color: black;
	background-color: white;
	background-image: url("images/free-music-background-vector.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 1600px;
}

h1,h2,h3
{
	text-align : justify;
	font-size: 36 pt;
	line-height: 20pt;
	font-family: Serif;
	color: red;
	background-color: white;
}
#Top
{
	color: aqua;
}

ol
{
	text-align: center;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sources {
	background-image: url("images/free-music-background-vector.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1600px;
}
#red {
	color: blue 
}

#Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Navigation {
    float: left;
}

#Navigation {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
h1
{
	text-align: center;
}
